header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #9c9c9c;
}

.btn-cart {
    padding: 3px 7px;
    color: #333;
    border-radius: 5px;
    border: 1px solid #666;
    margin-top: 10px;
    margin-bottom: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.product-item {
    width: 370px;
    min-height: 370px;
    border: 1px solid #9c9c9c;
    text-align: center;
    margin-bottom: 30px;
}